@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    margin: 20px;
    background: #F6B03E;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #442988;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 640px; /* Adjust as needed */
    margin: auto;
}

.thumbnail-container {
    position: relative;
    cursor: pointer;
}

.video-thumbnail {
    width: 100%;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}

.video-iframe {
    width: 100%;
    height: 360px; /* Adjust as needed */
}


.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #B1E8FC !important;
    color: black;
    word-break: 27px;
    padding: 10px;
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    font-weight: 800;
    font-size: 30px;
}

.btn-outline-primary {
    --bs-btn-color: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d6efd;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
    width: 100% !important;
    border-radius: 40px !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}



label {
    display: inline-block;
    color: #442988;
    font-weight: 700;
}

th, td {
    padding: 10px;
    text-align: left;
}

input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* div.dt-container {
        width: 800px;
        margin: 0 auto;
    } */
/* 
        a {
            text-decoration: none;
            color: var(--color);
        }

        h1 {
            font-size: 2.5rem;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        } */

    .login-container {
        position: relative;
        width: 22.2rem;
        
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}


.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.rem-20{
    padding-top: 2rem;
}

    input[type="number"] {
        -moz-appearance: textfield;
     }

    .rem{
  padding-top: 2rem;
    }

    .rem25 {
        padding-top: 2rem;
    }

.form-container {
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 99;
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.12), 0px 24px 32px -24px rgba(60, 27, 156, 0.16), 0px 32px 56px -32px rgba(60, 27, 156, 0.32);
    background: white;
}

    .login-container form input {
        display: block;
        padding: 14.5px;
        width: 100%;
        margin: 1rem 0;
        color: black;
        outline: none;
        /* background-color: #9191911f; */
        border: none;
        border: 1px solid #8559F3;
        border-radius: 5px;
        font-weight: 500;
        letter-spacing: 0.8px;
        font-size: 15px;
        /* backdrop-filter: blur(15px); */
        /* -webkit-border-radius: 5px; */
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .login-container form input:focus {
        box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
        animation: wobble 0.3s ease-in;
        -webkit-animation: wobble 0.3s ease-in;
    }

    .login-container form button {
        border-radius: 10px;
        padding: 10px 25px;
        font-size: 20px;
        width: 100%;
        font-weight: 700;
        line-height: 10px;
        text-align: center;
        background: white;
        color: white;
        background: #442988;
        padding-top: 20px;
        padding-bottom: 20px;
        border-color: white;
        box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.12), 0px 24px 32px -24px rgba(60, 27, 156, 0.16), 0px 32px 56px -32px rgba(60, 27, 156, 0.32);
    }

    .login-container form button:hover {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
    }

    .circle {
        width: 8rem;
        height: 8rem;
        background: var(--primary-color);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
    }

    .illustration {
        position: absolute;
        top: -14%;
        right: -2px;
        width: 90%;
    }

    .circle-one {
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate(-45%, -45%);
        -webkit-transform: translate(-45%, -45%);
        -moz-transform: translate(-45%, -45%);
        -ms-transform: translate(-45%, -45%);
        -o-transform: translate(-45%, -45%);
    }

    .circle-two {
        bottom: 0;
        right: 0;
        z-index: -1;
        transform: translate(45%, 45%);
        -webkit-transform: translate(45%, 45%);
        -moz-transform: translate(45%, 45%);
        -ms-transform: translate(45%, 45%);
        -o-transform: translate(45%, 45%);
    }

    .register-forget {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
    }

    /* .opacity {
        opacity: 0.6;
    } */

    .theme-btn-container {
        position: absolute;
        left: 0;
        bottom: 2rem;
    }

    .theme-btn {
        cursor: pointer;
        transition: all 0.3s ease-in;
    }

    .theme-btn:hover {
        width: 40px !important;
    }